<h2>{{data.title}}</h2>
<div>
    <span class="tags">
        {{#each data.tagreferences}}
        <a href="/{{url}}">{{name}}</a>
        {{/each}}
    </span>
</div>
<p class="post-meta">Posted by
    <a href="/about">{{data.postedby}}</a>
    on {{date data.createdat}}
</p>

{{html content}}