<h2>{{data.title}}</h2>
<div>
    <span class="tags">
        {{#each data.tagreferences}}
        <a href="/{{url}}">{{name}}</a>
        {{/each}}
    </span>
</div>
<p class="post-meta">Posted by
    <a href="/about">{{data.postedby}}</a>
    on {{date data.createdat}}
</p>

{{html content}}

{{#if site.config.disqusid}}
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = '{{site.config.url}}';
        this.page.identifier = '{{site.config.disqusid}}';
    };

    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://{{site.config.disqusid}}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>               
{{/if}}