<h2>Tag: {{data.name}}</h2>

{{#each data.postreferences}}
<div class="post-preview">
    <a href="/{{url}}">
        <h3 class="post-title">
            {{title}}
        </h3>
        <h4 class="post-subtitle">
            {{excerpt}}
        </h4>
    </a>
    <p class="post-meta">Posted by
        <a href="/about">{{postedby}}</a>
        on {{date createdat}}</p>
</div>
{{/each}}